img {
  width: 275px;
}

.column {
  float: left;
  width: 300px;
  text-align: center;
}

.one {
  background-color: #996633;
}

.two {
  background-color: #99ccff;
}

.three {
  background-color: #ffd633;
}
